@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

@font-face {
    font-family: 'Guardians';
    font-weight: normal;
    font-style: normal;
    src: url(../fonts/Guardians.ttf);
}

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

.topo {
    background-image: url(../img/banner-abertura.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 565px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    align-items: center;
}

.usuario {
    display: flex;
    align-items: center;
    gap: 1em;
}

.usuario img {
    width: 53px;
    height: 50px;
    border-radius: 50%;
}

.usuario span {
    color: white;
}

#menu{
    display: none;
}

.linksNavbarMobile {
    display: none;
}

.linksNavbar {
    display: flex;
    gap: 4em;
}

.linksNavbar a {
    color: white;
    text-decoration: none;

}

.linksNavbar a:hover{
    font-weight: bolder;
}

.saldo_home {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.saldo_home h2 {
    font-size: 24px;
    font-weight: 400;
}

.saldo_home h3 {
    font-family: 'Guardians';
    font-size: 80px;
    color: #DCB8F8;
}

.saldo_home h4 {
    color: #DCB8F8;
    font-size: 24px;
    font-weight: 400;
}

.pedras_home {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    gap: 1.5em;
}
.pedras_home img{
    width: 20px;
}

.lembretes_home {
    padding: 2em;
    text-align: center;
    color: white;
}

.lembretes_home span:first-child {
    font-size: 18px;
    font-weight: 700;
    background-color: #080115;
    padding: 0.5em 1em;
    border-radius: 15px;
}

.calendario {
    color: #DCB6F8;
    margin: 0 0.5em;
}

.lembretes_home span:last-child {
    font-size: 20px;
    line-height: 5em;
}

.barra-pesquisa {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: white;
    width: 661px;
    height: 72px;
    border-radius: 5px;
    box-shadow: 0px 7px 30px 0px #BBC0CD66;
    margin: 0 auto;
    position: relative;
    bottom: 1.5em;
}

.barra-pesquisa img {
    padding-left: 1em;
    font-size: 32px;
}

.barra-pesquisa input {
    padding: 1em 1.5em;
    width: 75%;
    outline: 0;
    border: none;
}

.barra-pesquisa input::-webkit-input-placeholder {
    color: #9E9E9E;
    font-size: 18px;

}

.listaProdutos {
    list-style: none;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    position: relative;
    bottom: 1.5em;
}

.listaProdutos img {
    max-width: 50px;
}

.listaProdutos h2 {
    font-size: 15px;
}

.listaProdutos li a {
    display: flex;
    align-items: center;
    text-decoration: none;
    font-size: 18px;
    color: black;
    width: 622px;
    background-color: #ebe8e8;
    padding: 1em;
    border: 1px solid #ccc;
    z-index: 2;

}

.listaProdutos li a:hover {
    background-color: #cdcaca;
    transition: all 0.2s ease-in-out;
}

.itemProduto {
    display: flex;
}

.banner-avaliacao {
    display: flex;
    justify-content: space-around;
    width: 80%;
    height: 350px;
    margin: 8em auto;
    background-image: url(../img/banner-abertura.png);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 16px;
}

.datas-informacoes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    gap: 1em;
    color: white;
    margin: 0 auto;
    padding: 0 64px;
}

.datas-informacoes h4 {
    color: #DCB6F8;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.datas-informacoes h3 {
    width: 60%;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.2px;
}

.datas-informacoes h5 {
    color: #DCB6F8;
    font-size: 18px;
    font-weight: 400;
}

.datas-info {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.imagens-decorativas {
    display: flex;
    align-items: end;
    margin: 0 auto;
}

.imagens-decorativas img:first-child {
    z-index: 1;
}

.imagens-decorativas img:last-child {
    width: 170px;
    position: relative;
    right: 59px;
}

.produtos h2 {
    font-size: 32px;
    font-weight: 700;
    margin: 0 5.8em;
}

.produtosResgatar {
    display: flex;
    flex-wrap: wrap;
    gap: 9%;
    justify-content: space-around;
    width: 90%;
    margin: 2em auto;
    align-items: flex-end;

}

.produtosResgatar div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 50%;
    max-width: 270px;
    gap: 0.5em;
    margin: 1em;
    border-radius: 16px;
}
.produtosResgatar img {
    width: 50%;
    height: 50%;
    margin: 0 auto;

}

.produtosResgatar h2 {
    font-size: 14px;
    text-align: start;
    margin: 0 auto;
    width: 75%;
}

.produtosResgatar span {
    color: #9E9E9E;
    font-size: 12px;
    margin: 0 auto;
    margin: 0 auto;
    width: 75%;
}

.produtosResgatar div>button:focus {
    background-color: #AD8AC6;
}

.produtosResgatar div>button:hover {
    background-color: #AD8AC6;
}

.produtos button {
    background-color: #502B6B;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 0.8em;
    width: 80%;
    margin: 0 auto;
}

@media screen and (max-width: 480px) {
    /* body {
        overflow-x: hidden;
    } */

    .topo {
        height: 90%;
        max-height: 40em;
    }

    .navbar {
        display: flex;
        flex-direction: column;
        gap: 1em;
        padding: 2em 1em;
        justify-content: space-between;
    }

    .usuario {
        display: flex;
    }

    .usuario img {
        width: 32px;
        height: 32px;
    }

    .usuario-nome {
        font-size: 14px;
        width: 10em;
    }

    .linksNavbar {
        display: none;
    }
    #menu{
        display: flex;
        flex-direction: column;
    }
    i#burguer{
        color: #fff;
        font-size: 30px;
        cursor: pointer;
        text-align: center;
    }
    #menu-bar{
        display: none;
        margin-top: 0.5em;
    }   
    #menu-bar > ul{
        list-style: none;
    }
    #menu-bar > ul > li > a{
        display: block;
        padding: 10px;
        text-decoration: none;
        text-align: center;
        width: 95vw;
        color: white;
        border-top: 2px solid #1F2A4D;
    }
    .linksNavbarMobile{
        display: flex;
        flex-direction: column;
        background-color: #734F8C;
        transition: background-color 1s ease 0s;
    }
    
    .linksNavbarMobile > li > a:hover{
        font-weight: bolder;
        background-color: #502B6B;
    }
      
    .saldo_home {
        gap: 1.0em;
    }

    .saldo_home h2 {
        font-size: 14px;
    }

    .saldo_home h3 {
        font-size: 40px;
    }

    .saldo_home h4 {
        font-size: 12px;
    }

    .pedras_home {
        padding: 1.0em 0 0 0;
    }

    .pedras_home img{
        width: 20px;
    }

    .lembretes_home {
        margin-top: 0.5em;
    }

    .lembretes_home span:first-child {
        font-size: 13px;
    }

    .lembretes_home span:last-child {
        font-size: 12px;
    }

    .barra-pesquisa {
        width: 90%;
        height: 3em;
        position: relative;
        top: 10px;
    }

    .barra-pesquisa img {
        padding-left: 15px;
        width: 25px;
    }

    #buscar::-webkit-input-placeholder {
        font-size: 12px;
    }

    .banner-avaliacao {
        width: 99%;
        height: 128px;
        display: flex;
        margin: 3em auto;

    }

    .datas-informacoes {
        display: flex;
        width: 10em;
        gap: 0.5em;
        padding: 0;
        margin: 0;
    }

    .datas-informacoes h4 {
        font-size: 10px;
    }

    .datas-informacoes h3 {
        font-size: 14px;
        width: 8em;
    }

    .datas-info img {
        width: 16px;
        height: 16px;
    }

    .datas-info h5 {
        font-size: 10px;
    }

    .imagens-decorativas {
        max-width: 500px;
        width: 45%;
        margin: 0;
    }

    .imagens-decorativas img:first-child {
        width: 150px;
    }

    .imagens-decorativas img:last-child {
        width: 75px;
    }

    .produtos {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .produtos h2 {
        font-size: 16px;
        text-align: center;
        margin: auto;
    }

    .produtosResgatar {
        display: block;
        margin: 2em auto;
    }

    .produtosResgatar div {
        width: 70%;
        margin: 1em auto;
        border: 1px solid #bdbdbd;
        padding: 1em;
    }

    .produtosResgatar div>h2 {
        font-size: 12px;
    }

    .produtosResgatar div>span {
        font-size: 10px;
    }

    .produtosResgatar div>button:focus {
        background-color: #AD8AC6;
    }

    .produtosResgatar div>button:hover {
        background-color: #AD8AC6;
    }
}