@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

body {
    background-image: url(../img/banner-abertura.png);
    background-repeat: no-repeat;
    background-size: cover;
}

.containerLogin {
    display: flex;
}

.imgLogin {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50vw;
    height: 100vh;
}

.imgLogin img {
    width: 50%;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    width: 50vw;
    height: 100vh;
    border-top-left-radius: 32px;
    border-bottom-left-radius: 32px;
}

.faca-login {
    margin: 0 auto;
}

.login span {
    font-size: 18px;
    color: #3E4C76;
}

.login h1 {
    color: #502B6B;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

label {
    margin-left: 0.5em;
    color: darkgrey;
}

input {
    border: none;
    outline: none;
    padding: 0.5em;
    font-size: 18px;
    font-weight: 500;
    width: 95%;
}

.input {
    padding: 0.5em;
    border: 1px solid rgb(89, 89, 95);
    margin: 0.9em 0;
    border-radius: 15px;
    width: 22em;
}

button {
    background-color: #502B6B;
    color: white;
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    margin: 1em 0;
    outline: none;
    border: none;
}

/*Inicio do media querie para mobile*/

@media (max-width: 480px) {
    .containerLogin {
        flex-direction: column;
        align-items: center;
    }

    .imgLogin {
        width: 90vw;
        height: 50vh;

    }

    .imgLogin img {
        width: 90%;
        max-width: 150em;
    }

    .login {
        height: 50vh;
        width: 100vw;
        border-bottom-left-radius: 0;
        border-top-right-radius: 30px;
    }

    .faca-login {
        width: 90%;
        display: block;
    }

    .faca-login span {
        font-size: 16px;
    }

    .faca-login h1 {
        font-size: 24px;
    }

    .input {
        padding: 0;
        width: 90vw;
    }

    .input input {
        margin-left: 10px;
        width: 80vw;
    }

}