body{
    background-image: url(../img/banner-abertura.png);
    background-color: #502B6B;
    background-size:130%;
    background-repeat: no-repeat;
}
.divAbertura{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 23% auto;
    
}
.divAbertura button{
    margin: 50px;
    width: 25%;
    height: 72px;
    padding: 10px;
    background-color:#DCB6F8;
    color: #502B6B;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 25px;
}