body{
    background-image: url(../img/banner-abertura.png);
    background-color: #502B6B;
    background-size:cover;
    background-repeat: no-repeat;
    height: 50vh;
    
}
.divAbertura{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 400px auto;
    
}
.divAbertura button{
    margin: 50px;
    width: 550px;
    height: 72px;
    padding: 10px;
    background-color:#DCB6F8;
    color: #502B6B;
    font-weight: bold;
    border: none;
    cursor: pointer;
    border-radius: 16px;
    font-size: 25px;
}