@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

.containerLogin{
display: flex;
}
.imgLogin{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(86, 25, 143);
    width: 50vw;
    height: 100vh;
}
.imgLogin img{
    width: 50%;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: white;
    margin: 0 auto;
    gap: 0.5em;
    
}

.login span{
    font-size: 18px;
    color: #3E4C76;
}

.login h1{
    color: #502B6B;
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 0.5em;
}

label{
    margin-left: 0.5em;
    color: darkgrey;
}
input{
    border: none;
    outline:none;
    padding:0.5em;
    font-size: 18px;
    font-weight: 500;
    width: 95%;

}

.input{
  padding: 0.5em;
  border: 1px solid rgb(89, 89, 95);
  margin: 0.9em 0;
  border-radius: 15px;
  width: 22em;
}

button{
    background-color: #502B6B;
    color: white;
    width: 100%;
    padding: 1em;
    border-radius: 15px;
    font-size: 20px;
    font-weight: 700;
    margin: 1em 0;
}