@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Sora:wght@100..800&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "Sora", sans-serif;
}

.navbar{
    display: flex;
    justify-content: space-between;
    padding: 2em 5em;
    align-items: center;
}

.usuario{
    display: flex;
    align-items: center;
    gap: 1em;
}
.usuario img{
    width: 53px;
    height: 50px;
    border-radius: 50%;
}

.usuario span{
    color: #502B6B;
}

.linksNavbar{
    display: flex;
    gap: 4em;
}
.linksNavbar a{
    color:#000000;
    font-size: 18px;
    text-decoration: none;

}

.produtoSelecionado{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    gap: 2em;
    margin: 5em auto;
}

.produtoSelecionado img{
    width: 90vw;
    max-width: 470px;
    max-height: 410px;
    border: 1px solid #F5F4F9;
    border-radius: 16px;
}

.produtoSelecionado div:last-child{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
}

.produtoSelecionado b{
    font-size: 20px;
}
.produtoSelecionado p{
    line-height: 1.3;
    letter-spacing: 0.5px;
}
.produtoSelecionado button{
    width: 270px;
    height: 72px;
    padding: 12px, 64px, 12px, 64px;
    border-radius: 16px;
    gap: 10px;
    outline: none;
    border: none;
    background-color: #502B6B;
    color: white;
    font-size: 18px;
    font-weight: 700;
}
@media screen and (max-width: 480px){
    .navbar{
        display: flex;
        padding: 2em 1em;
        justify-content: space-around;
    }
    .usuario {
        display: flex;
        flex-direction: column;
    }
    .usuario img{
        width: 32px;
        height: 32px;
    }
    .usuario-nome{
        font-size: 16px;
    }
    .linksNavbar{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
    .linksNavbar a {
        font-size: 12px;
    }
    .produtoSelecionado{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 0 auto;
        width: 90%;
    }    
    .produtoSelecionado img{
        width: 200px;
    }
    
    .produtoSelecionado h2{
        text-align: left;
        font-size: 18px;
    }
    .produtoSelecionado span{
        font-size: 16px;
    }
    .produtoSelecionado p {
        font-size: 14px;
    }
    .produtoSelecionado button{
        margin: 0 auto;
        width: 100%;
    }
}

